
/***RESET***/
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;

    
  }
  
  body {
   background-color: rgba(28,93,228,1);
  }
 
/**Header Encabezado***/
header {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(178,216,255,1);
    overflow: hidden; 

   
}
header h1 {
    padding: 16px;
    font-size: 6.0rem;
    text-align: center;
    text-transform: uppercase;
    color: rgb(39, 39, 39);
    letter-spacing: -0.5rem;
    font-family: 'Roboto', sans-serif;

    

}
main {
    height: auto;
    background-color: #7fabcf;
    background: linear-gradient(0deg, rgba(28,93,228,1) 0%, rgba(178,216,255,1) 100%);
    overflow: hidden; 
    background-color: #7fabcf;
    background-size: contain;
}
/***Main Section***/
.seleccionar-dranmon {
    max-width: 980px;
    height: auto;
    margin: 0 auto;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
}
.seleccionar-dranmon h2 {
    margin: 20px 10px;
    padding: 10px;
    font-size: 3.0rem;
    font-family: 'Roboto';
    text-align: center;
    color: black;
    text-transform: uppercase;
}
.options-dranmon {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;    

}
/***Cartas de Personajes***/
.cards {
    width: 230px;
    height: 300px;
    padding: 8px;
    margin: 16px;
    background-color:rgba(85, 84, 90, 0.81);
    border: solid 1px black;
    border-radius: 8px;
    box-shadow: 3px 8px 10px 0px rgba(0,0,0,0.8);
    opacity: 0.9;
    transition: 150ms;
}
.cards:hover {
    transform: scale(1.1);
    opacity: 1;
    border: none;
    background-color:rgba(233, 231, 250, 0.81);
    box-shadow: 1px 1px 20px 1px rgba(233, 231, 250, 0.81);

}
.cards img {
    width: 100px;
    height: 240px;
    margin-bottom: 5px;
    
}
.cards .name-dr {
    width: 100%;
    height: 200px;
    font-size: 3.0rem;
    font-weight: 700;
    padding: 6px;
    color: whitesmoke;
}
input { 
    display: none;
}
input:checked + label {
    
    background-color:rgba(233, 231, 250, 0.81);
    box-shadow: 1px 1px 20px 24px rgba(233, 231, 250, 0.81);
}

.button-select {
    margin-top: 20px;
    text-align: center;
}
.button-select button {
    margin: 25px 10px;
    width: 260px;
    height: 80px;
    font-size: 2.6rem;
    font-weight: 700;
    padding: 12px;
    border-radius: 40px;
    text-transform: uppercase;
    border: none;
    background-color:  rgb(84, 84, 84);
    color: whitesmoke;
    box-shadow: 3px 8px 10px 0px rgba(0,0,0,0.8);
    transition: 150ms all;
}
.button-select button:hover {
    transform: scale(1.2);
    cursor: pointer;
    background-color:  rgb(42, 41, 41);

}

/***Section Ataques***/
.seleccion-atack {
    width: 100vw;
    height: auto;
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.seleccion-atack h2 {
    margin-top: 5%;
    padding: 10px;
    font-size: 3.0rem;
    text-align: center;
    text-transform: uppercase;
    color: black;
}
.seleccion-atack p {
    font-size: 2.0rem;
    padding: 2px;
    color: rgb(13, 14, 15);
    text-align: center;
}
.atack-buttons {
    margin-top: 25px;
    text-align: center;
}
.btn-atack {
    
    width: 180px;
    margin: 16px;
    margin-bottom: 2%;
    padding: 16px;
    font-size: 2.4rem;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #315383;
    color: whitesmoke;
    transition: 150ms all;
}
#btn-fuego:hover {
    background-color: rgba(242, 45, 45, 0.372);
    color: black;
}

#btn-agua:hover {
    background-color: rgba(0, 0, 255, 0.195);
    color: black;
}

#btn-tierra:hover {
    background-color: #8040008b;
    color: black;
}
.contador-vidas {
    display: flex;
    justify-content: space-evenly;
    width: 85%;
    height: auto;
    margin: 0 auto;
    margin-top: 25px;
    padding: 15px;

}
.contador {
    width: 48%;
    max-width: 600px;
    height: 168px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
}
.contador-jugador {
    background-color: #e4f0e6c7;
    border: 6px solid #d7e3d9;
    box-shadow: 3px 8px 10px 0px #8fc699;
    font-weight: 700;
}
.contador-enemigo {
    background-color: #fae8e1b0;
    border: 6px solid #fff0ea;
    box-shadow: 3px 8px 10px 0px #d7784f;
    font-weight: 700;
}
#vidas-jugador {
    width: 80px;
    font-size: 6.0rem;
    font-weight: 700;
    color: #303030;
    box-shadow: 1px 1px 20px 0px #5b9bf5;   
}
#vidas-enemigo {
    width: 80px;
    font-size: 6.0rem;
    font-weight: 700;
     color: #303030;
    box-shadow: 1px 1px 20px 0px #5b9bf5;
}
.mensajes {
    width: 300px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #7bb3e1;
    border-radius: 20px;
    border: 8px solid #315383;
    
}
.mensajes p {
    padding: 30px;
    font-size: 4.0rem;
    font-weight: bold;
    color: #1d1c1c;
}
.mensajes-ataques {
    width: 320px;
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
    background-color: #a9c7dfa2;
    border-radius: 10px;
    font-weight: 700;   
}
.dranmon-card {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 210px;
    height: 280px;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px;
    font-size: 3.0rem;
    font-weight: 700;
    color: black;
    text-transform: uppercase;
    font-style: italic;
    cursor: pointer;

}
.dranmon-rangor {
    background-image: url(../imgs/rangor.jpg);
    color: whitesmoke;
}

.dranmon-capron {
    background-image: url(../imgs/capron.jpg);
    color: whitesmoke;
}
.dranmon-feront {
    background-image: url(../imgs/feront.jpg);
    color: whitesmoke;
}
.dranmon-lortus {
    background-image: url(../imgs/lortus.jpg);
    color: whitesmoke;
}
.dranmon-termer {
    background-image: url(../imgs/termer.jpg);
    color: whitesmoke;

}   
.dranmon-pydors {
    background-image: url(../imgs/pydors.jpg);
    color: whitesmoke;

}

#reiniciar {
    text-align: center;
}

#btn-reiniciar {
    width: 200px;
    padding: 12px;
    margin-top: 20px;
    font-size: 2.8rem;
    font-weight: 700;
    color: white;
    background-color: rgba(93, 88, 95, 0.575);
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}